.container {
  width: 100%;
  height: calc(100vh - 24px);
}

.topBar {
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.title {
  align-self: center;
  align-content: center;
  margin: 0px;
  padding: 0px;
}

.titleText {
  padding: 0px;
  margin: 0px;
  font-size: 18;
}

.rightItems {
  display: flex;
  justify-content: right;
}

.content {
  position: relative;
  display: flex;
  height: 100%;
}